<div class='errors'>
<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
    <div class="alert alert-danger" style="{ z-index:5}"role="alert"><%= error %></div>
  <% end %>
<% end %>
</div>
<div class='form-background' style="background-image:
  url('<%= ENV['s3_url'] %>/<%= ENV['s3_bucket'] %>/background.jpg')">
  <div class='row userform'>
    <div class='center span9'>
      <div class='col-xs-3 col-xs-offset-4'>
        <div class='user-form-box'>
          <form action='<%= action %>' method='POST'>
            <input type='hidden' name='authenticity_token'
              value='<%= form_authenticity_token %>'>
            <div class='form-group'>
              <label for='form-username'>Username:</label>
              <input type='text' name='user[username]' value='<%= user.username %>'
                id='form-username' class='form-control'><br>
              </div>
            <% if action == users_url %>
            <div class='form-group'>
              <label for='form-email'>Email:</label>
              <input type='text' name='user[email]' value='<%= user.email %>'
                id='form-email' class='form-control'><br>
              </div>
            <% end %>
            <div class='form-group'>
              <label for='form-password'>Password:</label>
              <input type='password' name='user[password]' id='form-password'
                class='form-control'><br>
            </div>
            <% if action == users_url %>
            <div class='form-group about-me-group'>
              <label for='form-about-me' class='about-me-label'>About Me:</label>
              <textarea name='user[about_me]' id='form-about-me' class='about-me-textarea'><%= user.about_me %></textarea>
            </div>
            <% end %>
              <input class='btn btn-default user-form-submit' type='submit' value='<%= submit_text %>'>
          </form>
          <% if show_guest_login %>
            <form action="<%= session_url %>" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="user[username]" value="guest">
              <input type="hidden" name="user[password]" value="verysecurepassword">
              <input class="btn btn-default guest-login-button" type="submit" value="Guest Login">
            </form>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
