<div class='playlist-index-item'><img height="100" width="100"
    src="<% if (playlist.songs().length > 0) { %>
            <%= playlist.songs().first().get('small_image_url') %>"
          <% } else { %>
            <%= NoisyNimbus.AMAZON_URL + 'default.png' %>"
          <% } %>
    alt="<%= playlist.escape('title') %>"></img><br>
<span class="badge playlist-length"><%= playlist.songs().length %> tracks</span>
<%= playlist.get('title') %>
<div class="delete-link"><span class='glyphicon glyphicon-remove playlist-delete-button hidden'></span></div>
</div>
