<div class='song-item-border'>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class='song-image-div'><img class="song-image" src="<%= song.escape('small_image_url') %>"
        alt="<%= song.escape('artist') %>" height="100" width="100"></img>
      </div>
      <div class="container">
        <div class='song-item-top row'>
          <div class='col-xs-3'>
            <span>
            <% if (CURRENT_USER_ID) { %>
              <a class="uploader-<%= song.id %>">
            <% } else { %>
              <a href="http://noisynimbus.com" target="_blank">
            <% } %><%= song.uploader().get('username') %></a>
            </span>
          </div>
          <div class='col-xs-5 tags'>
            <div class='tag-list'>
            </div>
          </div>
          <div class='col-xs-3 time-ago pull-right'>
            <span class='pull-right'>
              <%= song.get('timeago') %>
            </span>
          </div>
        </div>

      <div class='song-attrs row'>
        <div class='col-xs-5'>
          <span class='list-group-item song-item artist'>
            Artist:
            <% if (CURRENT_USER_ID) { %>
              <a href="#artist/<%= song.escape('artist').toLowerCase() %>">
            <% } else { %>
              <a href="http://noisynimbus.com" target="_blank">
            <% } %><%= song.escape('artist') %></a>
          </span>
        </div>
        <div class='col-xs-5'>
          <span class='list-group-item song-item title'>
            Title:
            <% if (CURRENT_USER_ID) { %>
              <a href="#songs/<%= song.id %>">
            <% } else { %>
              <a href="http://noisynimbus.com" target="_blank">
            <% } %><%= song.escape('title') %></a>
          </span>
        </div>
      </div>
      <div class='song-item-bottom row'>
      </div>
    </div>

      <div class="progress-radial progress-100 pull-right toggle-play">
        <div class="overlay"><span class="glyphicon glyphicon-play"></span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
