<div class="panel panel-default">
  <div class="panel-body">
      <div class='song-image'><img src="<%= song.escape('image_url') %>"
        alt="<%= song.escape('artist') %>"></img></div>
    <div class='song-attrs'>
      <ul>
        <li class='list-group-item song-item'><h4>Artist: <%= song.escape('artist') %></h4></li>
        <li class='list-group-item song-item'><h4>Title: <%= song.escape('title') %></h4></li>
      </ul>
    </div>
      <img class="toggle-play pull-right" src="<%= NoisyNimbus.AMAZON_URL + 'play.png' %>"</img>
  </div>
</div>
