<!DOCTYPE html>
<html>
<head>
  <title>NoisyNimbus</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <cfheader name="X-XSS-Protection" value="0">
</head>
<body>

<%= yield %>

<script>
  <% if Rails.env.production? %>
    NoisyNimbus.AMAZON_URL = "https://s3.amazonaws.com/noisynimbus-prod/";
  <% else %>
    NoisyNimbus.AMAZON_URL = "https://s3.amazonaws.com/noisynimbus-dev/";
  <% end %>
</script>

</body>
</html>
